# Table of Contents

### 1. Importing Libraries
### 2. Importing Data
### 3. Merging Data Frames
### 4. Exporting Data

# 1. Importing Libraries

In [169]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# 2. Importing Data

In [171]:
# Importing data set orders_combined.pkl

df_ords_combined = pd.read_pickle(r'/Users/xxx/Documents/Instacart Basket Analysis - 2025-01-05/02 - Data/Prepared Data/orders_combined.pkl')

In [172]:
# Checking the shape

df_ords_combined.shape

(32434489, 12)

In [173]:
# Shape is the same as exported .pkl

In [174]:
# Importing data set df_prods_deps.csv

df_prods_deps = pd.read_csv(r'/Users/xxx/Documents/Instacart Basket Analysis - 2025-01-05/02 - Data/Prepared Data/prods_deps_wrangled.csv')

In [175]:
df_prods_deps

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,department
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks
1,1,2,All-Seasons Salt,104,13,9.3,pantry
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5,beverages
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5,frozen
4,4,5,Green Chile Anytime Sauce,5,13,4.3,pantry
...,...,...,...,...,...,...,...
49688,49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3,alcohol
49689,49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1,frozen
49690,49690,49686,Artisan Baguette,112,3,7.8,bakery
49691,49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7,pets
49692,49692,49688,Fresh Foaming Cleanser,73,11,13.5,personal care

In [176]:
# Specify the columns to include in the new DataFrame
selected_columns = ['product_id', 'product_name', 'aisle_id', 'department_id', 'prices', 'department']

# Create a new DataFrame using the selected columns
df_prods_deps_clean = df_prods_deps[selected_columns]

# Display the new DataFrame to verify its contents (optional)
print(df_prods_deps_clean.head()) # Display the first few rows

   product_id                                       product_name  aisle_id  \
0           1                         Chocolate Sandwich Cookies        61
1           2                                   All-Seasons Salt       104
2           3               Robust Golden Unsweetened Oolong Tea        94
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4           5                          Green Chile Anytime Sauce         5

   department_id  prices department
0             19     5.8     snacks
1             13     9.3     pantry
2              7     4.5  beverages
3              1    10.5     frozen
4             13     4.3     pantry

In [177]:
df_prods_deps_clean

,product_id,product_name,aisle_id,department_id,prices,department
0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks
1,2,All-Seasons Salt,104,13,9.3,pantry
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5,beverages
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5,frozen
4,5,Green Chile Anytime Sauce,5,13,4.3,pantry
...,...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3,alcohol
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1,frozen
49690,49686,Artisan Baguette,112,3,7.8,bakery
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7,pets
49692,49688,Fresh Foaming Cleanser,73,11,13.5,personal care

In [178]:
# Export df_prods_deps_clean
df_prods_deps_clean.to_csv(os.path.join('/Users', 'xxx', 'Documents', 'Instacart Basket Analysis - 2025-01-05', '02 - Data','Prepared Data', 'prods_deps_cleaned.csv'))

In [179]:
# Export df_prods_deps_clean.pkl
df_prods_deps_clean.to_pickle(os.path.join('/Users', 'xxx', 'Documents', 'Instacart Basket Analysis - 2025-01-05', '02 - Data','Prepared Data', 'prods_deps_cleaned.pkl'))

In [180]:
# Show df_ords_combined
df_ords_combined

,index,order_id,user_id,eval_set,order_number,order_weekday,order_hour,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,0,196,1,0,both
1,0,2539329,1,prior,1,2,8,0,14084,2,0,both
2,0,2539329,1,prior,1,2,8,0,12427,3,0,both
3,0,2539329,1,prior,1,2,8,0,26088,4,0,both
4,0,2539329,1,prior,1,2,8,0,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421081,2977660,206209,prior,13,1,12,7,14197,5,1,both
32434485,3421081,2977660,206209,prior,13,1,12,7,38730,6,0,both
32434486,3421081,2977660,206209,prior,13,1,12,7,31477,7,0,both
32434487,3421081,2977660,206209,prior,13,1,12,7,6567,8,0,both
32434488,3421081,2977660,206209,prior,13,1,12,7,22920,9,0,both

In [181]:
# Show df_prods_deps_clean
df_prods_deps_clean

,product_id,product_name,aisle_id,department_id,prices,department
0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks
1,2,All-Seasons Salt,104,13,9.3,pantry
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5,beverages
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5,frozen
4,5,Green Chile Anytime Sauce,5,13,4.3,pantry
...,...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3,alcohol
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1,frozen
49690,49686,Artisan Baguette,112,3,7.8,bakery
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7,pets
49692,49688,Fresh Foaming Cleanser,73,11,13.5,personal care

# 3. Merging Data Frames

In [183]:
# Combine the data frames using the merge function on "product_id"
# df_ords_prods_deps_combined = pd.merge(df_ords_combined, df_prods_deps_clean, on='product_id', how='inner', indicator = True)
# df_ords_prods_deps = df_ords_combined.merge(df_prods_deps_clean, on='product_id', indicator = True)

# Merge the data frames using a custom name for the indicator column
df_ords_prods_deps = df_ords_combined.merge(
df_prods_deps_clean,
on='product_id',
indicator='final_merge_indicator'
)

# Display the first few rows of the resulting data frame
print(df_ords_prods_deps.head())

   index  order_id  user_id eval_set  order_number  order_weekday  order_hour  \
0      0   2539329        1    prior             1              2           8
1      0   2539329        1    prior             1              2           8
2      0   2539329        1    prior             1              2           8
3      0   2539329        1    prior             1              2           8
4      0   2539329        1    prior             1              2           8

   days_since_last_order  product_id  add_to_cart_order  reordered _merge  \
0                      0         196                  1          0   both
1                      0       14084                  2          0   both
2                      0       12427                  3          0   both
3                      0       26088                  4          0   both
4                      0       26405                  5          0   both

                              product_name  aisle_id  department_id  prices  \
0                                     Soda        77              7     9.0
1  Organic Unsweetened Vanilla Almond Milk        91             16    12.5
2                      Original Beef Jerky        23             19     4.4
3               Aged White Cheddar Popcorn        23             19     4.7
4         XL Pick-A-Size Paper Towel Rolls        54             17     1.0

   department final_merge_indicator
0   beverages                  both
1  dairy eggs                  both
2      snacks                  both
3      snacks                  both
4   household                  both

In [184]:
# Show df_ords_prods_deps_combined
df_ords_prods_deps

,index,order_id,user_id,eval_set,order_number,order_weekday,order_hour,days_since_last_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,department,final_merge_indicator
0,0,2539329,1,prior,1,2,8,0,196,1,0,both,Soda,77,7,9.0,beverages,both
1,0,2539329,1,prior,1,2,8,0,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,dairy eggs,both
2,0,2539329,1,prior,1,2,8,0,12427,3,0,both,Original Beef Jerky,23,19,4.4,snacks,both
3,0,2539329,1,prior,1,2,8,0,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,snacks,both
4,0,2539329,1,prior,1,2,8,0,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,household,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,3421081,2977660,206209,prior,13,1,12,7,14197,5,1,both,Tomato Paste,9,9,5.6,dry goods pasta,both
32434208,3421081,2977660,206209,prior,13,1,12,7,38730,6,0,both,Brownie Crunch High Protein Bar,3,19,5.9,snacks,both
32434209,3421081,2977660,206209,prior,13,1,12,7,31477,7,0,both,High Protein Bar Chunky Peanut Butter,3,19,4.2,snacks,both
32434210,3421081,2977660,206209,prior,13,1,12,7,6567,8,0,both,Chocolate Peanut Butter Protein Bar,3,19,4.9,snacks,both
32434211,3421081,2977660,206209,prior,13,1,12,7,22920,9,0,both,Roasted & Salted Shelled Pistachios,117,19,1.7,snacks,both

In [185]:
# Display unique values in the new indicator column
print(df_ords_prods_deps['final_merge_indicator'].unique())

['both']
Categories (3, object): ['left_only', 'right_only', 'both']

In [186]:
# Specify the columns to include in the new DataFrame
selected_columns = ['order_id', 'user_id', 'order_number', 'order_weekday', 'order_hour', 'days_since_last_order', 'product_id', 'add_to_cart_order', 'reordered', 'product_name', 'aisle_id', 'department_id', 'prices', 'department', 'final_merge_indicator']

# Create a new DataFrame using the selected columns
df_ords_prods_deps_clean = df_ords_prods_deps[selected_columns]

# Display the new DataFrame to verify its contents (optional)
print(df_ords_prods_deps_clean.head()) # Display the first few rows

   order_id  user_id  order_number  order_weekday  order_hour  \
0   2539329        1             1              2           8
1   2539329        1             1              2           8
2   2539329        1             1              2           8
3   2539329        1             1              2           8
4   2539329        1             1              2           8

   days_since_last_order  product_id  add_to_cart_order  reordered  \
0                      0         196                  1          0
1                      0       14084                  2          0
2                      0       12427                  3          0
3                      0       26088                  4          0
4                      0       26405                  5          0

                              product_name  aisle_id  department_id  prices  \
0                                     Soda        77              7     9.0
1  Organic Unsweetened Vanilla Almond Milk        91             16    12.5
2                      Original Beef Jerky        23             19     4.4
3               Aged White Cheddar Popcorn        23             19     4.7
4         XL Pick-A-Size Paper Towel Rolls        54             17     1.0

   department final_merge_indicator
0   beverages                  both
1  dairy eggs                  both
2      snacks                  both
3      snacks                  both
4   household                  both

In [187]:
# Check df_ords_prods_deps_clean
df_ords_prods_deps_clean

,order_id,user_id,order_number,order_weekday,order_hour,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,department,final_merge_indicator
0,2539329,1,1,2,8,0,196,1,0,Soda,77,7,9.0,beverages,both
1,2539329,1,1,2,8,0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,dairy eggs,both
2,2539329,1,1,2,8,0,12427,3,0,Original Beef Jerky,23,19,4.4,snacks,both
3,2539329,1,1,2,8,0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,snacks,both
4,2539329,1,1,2,8,0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,household,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,2977660,206209,13,1,12,7,14197,5,1,Tomato Paste,9,9,5.6,dry goods pasta,both
32434208,2977660,206209,13,1,12,7,38730,6,0,Brownie Crunch High Protein Bar,3,19,5.9,snacks,both
32434209,2977660,206209,13,1,12,7,31477,7,0,High Protein Bar Chunky Peanut Butter,3,19,4.2,snacks,both
32434210,2977660,206209,13,1,12,7,6567,8,0,Chocolate Peanut Butter Protein Bar,3,19,4.9,snacks,both
32434211,2977660,206209,13,1,12,7,22920,9,0,Roasted & Salted Shelled Pistachios,117,19,1.7,snacks,both

# 4. Exporting Merged Cleaned Data Frames

In [189]:
# Export df_ords_prods_deps_clean pickle
df_ords_prods_deps_clean.to_pickle(os.path.join('/Users', 'xxx', 'Documents', 'Instacart Basket Analysis - 2025-01-05', '02 - Data','Prepared Data', 'ords_prods_deps_cleaned.pkl'))

In [190]:
# Export df_ords_prods_deps_clean csv
df_ords_prods_deps_clean.to_csv(os.path.join('/Users', 'xxx', 'Documents', 'Instacart Basket Analysis - 2025-01-05', '02 - Data','Prepared Data', 'ords_prods_deps_cleaned.csv'))